<h1>Admin Dashboard</h1>
<br>
<div class="jumbotron">
<p><b>Products</b></p>
<span>You have <b><%= link_to "#{@product_count} products", [:admin, :products] %></b> in your database.</span>
</div>

<div class="jumbotron">
<p><b>Categories</b></p>
<span>You have <b><%= link_to "#{@category_count} categories", [:admin, :categories] %></b> categories in your database.</span>
</div>